@import "./src/assets/styles/mixins";

.main-form-input-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 36px;
  position: relative;
  input {
    width: 300px;
    height: 30px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
  }
  label {
    margin-bottom: 5px;
  }
}

#input-for-image {
  display: flex;
  flex-direction: column;
}


#submit_btn {
  @include button();
  margin: 0 auto;
}

#add-input-btn {
  width:30px;
  height:32px;
  background:
    linear-gradient($button_color,$button_color) top left,
    linear-gradient($button_color,$button_color) top right,
    linear-gradient($button_color,$button_color) bottom left,
    linear-gradient($button_color,$button_color) bottom right;
  background-size: calc(50% - 1px) calc(50% - 1px);
  background-repeat:no-repeat;
  border:10px solid $button_color;
  box-sizing:border-box;
  border-radius: 50px;
  position: absolute;
  right: -48px;
  cursor: pointer;
  outline: none;
}

.delete-input-btn {
  width:30px;
  height:32px;
  background:
          linear-gradient($button_color,$button_color) top left,
          linear-gradient($button_color,$button_color) top right,
          linear-gradient($button_color,$button_color) top center,
          linear-gradient($button_color,$button_color) bottom left,
          linear-gradient($button_color,$button_color) bottom center,
          linear-gradient($button_color,$button_color) bottom right;
  background-size: calc(50% - 1px) calc(50% - 1px);
  background-repeat:no-repeat;
  border:10px solid $button_color;
  box-sizing:border-box;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: -48px;
}

.input-for-image-additional {
  margin-top: 8px;
}
