.book-section {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;

  details {
    margin: 0 20px 24px;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.75);

    summary {
      outline: none;
      display: flex;
      align-items: center;
      font-size: 24px;
      padding: 18px;
      position: relative;

      div {
        text-decoration: underline;
      }

      .close-btn {
        text-decoration: underline;
        position: absolute;
        right: 16px;
        cursor: pointer;
      }
    }
  }

  .book-content {
    display: flex;
    justify-content: space-between;
    padding: 24px;

    img {
      width: 100%;
      height: auto;
      max-width: 450px;
      margin: 0 16px 16px;
      border: 1px solid;
    }
  }

  .book-description {
    width: 50%;

    span {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 1090px) {
  #app .book-content img {
    width: 300px;
  }
}

@media screen and (max-width: 574px) {
  #app .book-content img {
    width: 150px;
  }
}

.edit-btn {
  text-decoration: underline;
  cursor: pointer;
}
